@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --mobile: 375px;
  --desktop: 1440px;

  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font-size: 15px;

  --weight-light: 400;
  --weight-bold: 700;

  --shadow-color-1: #a5a5a51b;
  --shadow-color-2: #a5a5a510;
  --shadow-large: 3px 3px 20px var(--shadow-color-1), -3px -3px 10px var(--shadow-color-2);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background: var(--white);
    font-family: 'Outfit', 'Gill Sans', sans-serif;
}


.container{
      min-height: 100vh;
    background: var(--slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 18.75rem;
    padding: 1rem;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: var(--shadow-large);
}

.qr-image {
    width: 100%;
    height: 16.875rem;
    object-fit: cover;
    border-radius: 0.625rem;
}

.title {
  color: var(--slate-900);
  font-weight: var(--weight-bold);
  font-size: 20px;
}

.description {
  font-weight: var(--weight-light);
  color: var(--slate-500);
}

.card-content{
    padding: 1.25rem 0.625rem;
    font-size: var(--font-size);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.attribution { font-size: 11px; text-align: center; background: var(--slate-300);}
.attribution a { color: hsl(228, 45%, 44%); }